.newtape {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.newtape > div {
    display: flex;
    flex-direction: column;
}

.newtape .button {
    height: 20px;
    align-self: center;
}

.newtape input {
    height: 2ex;
    width: 60px;
    border: 1px solid black;
    border-radius: 3px;
}

.newtape textarea {
   resize: none;
   width: 300px;
   height: 50px;
   border: 1px solid black;
   border-radius: 3px;
}

.tapeitem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.tapeitem > div {
    display: flex;
    height: 100px;
    width: 100px;
    flex-direction: column;
    justify-content: space-between;
}

.tapeitem > p {
    max-width: 300px;
}