.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    transition: all .3s;
}

.button:hover {
    background: lightsalmon;
    border-radius: 20px;
    color: #fff;
}